<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="Admin" value="dengbc,singhs17,vergaraa,memarzaf,motleymc,begnagc,vothid,maddenbp,burklowthh"/>
    <!-- <add key="CUPSafety" value="CUP-Safety@mail.nih.gov"/> -->
    <add key="CUPSafety" value="ORFDTREFAMIT@mail.nih.gov"/>
    <add key="NearMissSubject" value="New Safety Observation Form Submission by:"/>
    <add key="UseCloud" value="Y"/>
    <add key="Interval" value="2"/>
    <add key="MaxServer" value="https://nihefam.usgov.maximo.com"/>
    <add key="APIKey" value="61ir8aljid765uoj1iaadsq8dft6rkk8lfuatfki"/>
    <add key="Cookie" value="JSESSIONID=0000v23MO8CV_FKKbYMp2rzMqCC:1frkl7dot"/>
    <!-- STO Database - Localhost 
    <add key="sqlConn" value="X8Y5fXUTlDYWFiiiYA61/XSBkGsMq0F5x/JE9K8VCHAJtFnNOvLPmjTnk9Fgie6gdcDc/lVbrM0+e+YQgP7FT02a/YVbrwVXavIFE5dE4zc="/>-->

    <!-- STO Database - ORFD-DTRDB1   
    <add key="sqlConn" value="Qiay3puuAnmzJXx/ex4mY8VBScsDc2az/fAVRzjYklTpq/Y3WY64hUbPjDbCFkXj++LKlZYdUzEOsyTcyFPnJqB9zV3voOq32Tsboj6OKWg=" />
    -->
    <!-- STO Database - ORFP-DTRWEB1 -->  
    <add key="sqlConn" value="Qiay3puuAnm3Hju1mrUC3qWfR9VXLEakdD2iwiGXZgOMsHI9lN5kOLWXhJhDITRcFI/vW63bG6jmfU4wKvV6nmsJkX8mJ7QuDIPSXfUcbHI="/>

    <!-- ChemEntry Database - ORFP-DTRWEB1 -->
    <add key="sqlConnChem" value="Qiay3puuAnm3Hju1mrUC3qWfR9VXLEakfLcZcAFV+B3FUFldFbzO3S/MVyn9X81HNOeT0WCJ7qB1wNz+VVuszT575hCA/sVPTZr9hVuvBVdq8gUTl0TjNw==" />

    <!-- FCISPortal Database - ORFP-DTRWEB1  -->
    <add key="sqlConnFCIS" value="Qiay3puuAnm3Hju1mrUC3qWfR9VXLEak8VajKaMBTZMF+hrxJLhVoNN3ILbfZv2ytZeEmEMhNFwUj+9brdsbqOZ9TjAq9XqeawmRfyYntC4Mg9Jd9Rxscg==" />



    <!-- STO Database - ORFD-DTRDB1  
    <add key="sqlConn" value="rvIwRhdULyejdxVcKz0RBv/w7yGOtXIt/n1M2B37KYpJpc600iDtgycnfr3Pw/rNseRZTDtZk+wUln3TURyTEGmRe2hnjqgAPDe1ZCP5IlE=" />
 -->
    <add key="NIHSingleSignOnLogOutURL" value="https://itrusteauth.nih.gov/siteminderagent/dmslogout2.html"/>
    <add key="LoginMessage" value="You do not have access to the application."/>
    <add key="TempPass" value="TestMe"/>
    <add key="CommandTimeOut" value="3600"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="WebForms"/>
    <add key="sqltimeout" value="3600"/>
    <!--- <add key="AttachmentsFolder" value="c:\inetpub\wwwroot\attachmentsGSS\" /> -->
    <add key="AttachmentsCUPFolder" value="\\ors-fs.ors.nih.gov\PubORF\ORF_DTR\CUP Website Dashboards" />
    <add key="AttachmentsFolder" value="C:\gss\newprojects\ShiftTurnover\ShiftTurnover\attachmentsGSS"/>
    <add key="ceTe.LicenseKey" value="MER70NSSBEAOBJMbgvZ5YaF7p1UX0soGuk/qpsJ+L00/eKZvm5wuBsabzWC0lk56lxP5mJZ++7Yu1x+WEMvuqxXMnrUXXAofb4eA"/>
    <!--Certified File Path-->
    <add key="strCertifiedReportsURL" value="http://localhost:61864/attachmentsGSS/"/>
    <add key="strCertifiedReportsPath" value="C:\gss\newprojects\ShiftTurnover\ShiftTurnover\attachmentsGSS\"/>
    <!--ALL Template Path-->
    <add key="strTemplatePath" value="C:\gss\newprojects\ShiftTurnover\ShiftTurnover\Templates\"/>
    <add key="strTempFilePath" value="C:\gss\newprojects\ShiftTurnover\ShiftTurnover\Temp\"/>
    <add key="ArrayFinalPDFStatus" value="13,36"/>
    <add key="ArrayAllowedExtensions" value=".png,.jpg,.jpeg,.pdf,.doc,.docx,.txt,.xls,.xlsx,.ppt,.pptx,.gif,.wpd,.rtf,.tif,.tiff,.bmp,.csv,.msg,.PNG,.JPG,.JPEG,.PDF,.DOC,.DOCX,.TXT,.XLS,.XLSX,.PPT,.PPTX,.GIF,.WPD,.RTF,.TIF,.TIFF,.BMP,.CSV,.MSG"/>
    <add key="MaxFileSize" value="10MB"/>
    <add key="MaxFileSizeBytes" value="10000000"/>
    <add key="AFTimeSpanInterval" value="5"/>
    <add key="AFTimeSpanInterval2" value="60"/>
    <add key="CriticalAlarmsReportsPath" value="\\orfp-ams1\Dashboard HP Alarms" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="30000"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
    </httpModules>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false"/>
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
      </handlers>
    </system.webServer>
  </location>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-NEES60-20131113164901;Integrated Security=SSPI"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
          
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>